.card-title {
    color: #395368;
    width: 200px;
    font-size: 36px;
}

.card-img-top {
    height: 200px;
}

.price {
    font-weight: bold;
    font-size: 25px;
}

.carousel {
   width: 1200px;
}

.pizdec {
    display: flex;
    justify-content: center;
}

.btn {
    color: aliceblue;
    background-color: #395368;   
}

.img-logo{
    width: 260px;
}

.line-4 {
    height: 1px;
    background: black;
    width: 100%;
  }

.telegram-icon {
    width: 45px;
}

.instagram-icon {
    width: 45px;
}

.facebook-icon {
    width: 45px;
}